# ===== Guacamole server =====
GUAC_BASE_URL=
GUAC_USERNAME=
GUAC_PASSWORD=

# Public URL for the browser to reach Guacamole (must be accessible from client)
NEXT_PUBLIC_GUAC_BASE_URL=

# ===== RDP target (Windows VM) =====
RDP_NAME=
RDP_HOSTNAME=
RDP_PORT=3389
RDP_USERNAME=
RDP_PASSWORD=

# ===== Azure credentials (used by /api/vms) =====
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_SUBSCRIPTION_ID=

# ===== Better Auth =====
DATABASE_URL=file:./dev.db
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000

# ===== S3 Storage (for recordings) - Cloudflare R2 =====
S3_ENDPOINT=https://e5a48c1d3e6f2962804de0fd4998a3ca.r2.cloudflarestorage.com
S3_REGION=auto
S3_BUCKET=
S3_ACCESS_KEY_ID=034a0c2cceecbee1dae60bda8e9dc281
S3_SECRET_ACCESS_KEY=817a92f71a76bcbea44e9952e48b451bb59d9a503a9f59a0bfd989691e509954
S3_FORCE_PATH_STYLE=true
